 <!--
                            <div class="col-xl-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="text-center">
                                        <h3><strong>{{audit.title}}</strong></h3>
                                            <!-- <div class="dropdown float-end">
                                                <a class="text-body dropdown-toggle font-size-18" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                  <i class="uil uil-ellipsis-v"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Remove</a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <h5 class="mt-3 mb-1">{{$filters.DateTimeFormat(audit.created_at)}}</h5>
                                            <p class="text-muted">Status: <span :class="`badge rounded-pill bg-${setStatus(audit?.status?.name)}`">{{audit?.status?.name}}</span></p>

                                            <div class="mt-4">
                                              Created By:   <button type="button" class="btn btn-light btn-sm"><i class="uil uil-user-circle me-2"></i>  {{audit?.user?.name}}</button>
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <div class="text-muted">
                                            <h5 class="font-size-16"><strong> Description:</strong></h5>
                                            <p>{{audit.description}}</p>
                                            <div class="table-responsive mt-4">
                                                <!-- <div>
                                                    <p class="mb-1">Title :</p>
                                                    <h5 class="font-size-16">{{audit.title}}</h5>
                                                </div>
                                                <div class="mt-1">

                                                     <h5 class="font-size-16"><strong> Mobile:</strong></h5>
                                                    <h5 class="font-size-16">{{audit.phone}}</h5>
                                                </div>
                                                <!-- <div class="mt-4">
                                                    <p class="mb-1">Email :</p>
                                                    <h5 class="font-size-16">marcus@minible.com</h5>
                                                </div>
                                                <div class="mt-1">

                                                     <h5 class="font-size-16"><strong> Location:</strong></h5>
                                                    <h5 class="font-size-16">{{audit.location}}</h5>
                                                </div>



                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                         <form v-on:submit.prevent="onSubmit">
                                                        <div class="hstack gap-3">
                                                            <!-- <input  type="text" placeholder="Add your item here..."
                                                                aria-label="Add your item here...">
                                                            <textarea rows="2"  class="form-control me-auto" v-model="audit.remarks" placeholder="Add your remarks here..."></textarea>
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Submit</button>
                                                            <!-- <div class="vr"></div>

                                                        </div>
                                                    </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        -->


                        <!--   <div>
                                                    <h5 class="font-size-16 mb-4">Audit Log</h5>

                                                    <ul class="activity-feed mb-0 ps-2"  style="overflow-y: scroll; height:400px;">
                                                        <li class="feed-item" v-for="item in activities" :key="item.id">
                                                            <div class="feed-item-list">
                                                                <p class="text-muted mb-1">{{$filters.DateTimeFormat(audit.created_at)}} <div class="vr"></div>  Response  </p>
                                                                <h5 class="font-size-16">{{item?.properties?.name}}</h5>
                                                                <p class="text-muted mb-1">{{item?.properties?.email}}</p>
                                                                <p class="text-muted">{{item?.description}}</p>
                                                            </div>
                                                        </li>
                                                        <li class="feed-item">
                                                            <div class="feed-item-list">
                                                                <p class="text-muted mb-1">{{$filters.DateTimeFormat(audit.created_at)}}  <div class="vr"></div>  Created </p>
                                                                <h5 class="font-size-16">{{audit.title}}</h5>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
 -->
